<div class="user-frame-title">
    <h3>个人设置</h3>
</div>

<div>
    <label>昵称：<input class="override" type="text" nz-input></label>
    <label>介绍：<textarea nz-input class="override"></textarea></label>
    <label>性别：
        <nz-radio-group class="override">
            <label nz-radio nzValue="A">男</label>
            <label nz-radio nzValue="B">女</label>
            <label nz-radio nzValue="C">保姆</label>
        </nz-radio-group>
    </label>

    <netease-normal-button [btnType]="5">保存</netease-normal-button>
</div>
