<div class="user-frame-title">
    <h3>我创建的歌单（4）</h3>
</div>
<ul class="cover-list">
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
</ul>

<div class="user-frame-title">
    <h3>我收藏的歌单（4）</h3>
</div>
<ul class="cover-list">
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
    <li>
        <netease-song-list-cover [songListId]="12"></netease-song-list-cover>
    </li>
</ul>
