<div class="user-frame-title">
    <h3>粉丝（13）</h3>
</div>

<ul class="follows-cover">
    <li *ngFor="let item of list">
        <netease-normal-cover
            style="float: left"
            [imageUrl]="'http://p1.music.126.net/VsmwPWd_TiZEM3iA2-KtaQ==/109951163188626150.jpg?param=60y60'"
            [size]="60">

        </netease-normal-cover>
        <div class="info">
            <p><a class="author">日月星辰千红万紫</a></p>
            <p class="status">
                <a>动态<em>3</em></a>
                <a>关注<em>3</em></a>
                <a>粉丝<em>3</em></a>
            </p>
            <p class="desc">看山不是山 看水不是水</p>
        </div>
        <div class="oper">

        </div>
    </li>
</ul>
