.content-wrap {
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 50px;
    overflow: auto;
}
