<div class="player-wrap netease-playbar bg">
    <div class="player-main">
        <div class="btns">
            <a class="netease-playbar playbar-prev" (click)="handlePrev()"></a>
            <a class="netease-playbar"
               [class.playbar-play]="audioElement.paused"
               [class.playbar-pause]="!audioElement.paused"
               (click)="handlePlay()"></a>
            <a class="netease-playbar playbar-next" (click)="handleNext()"></a>
        </div>
        <div class="flag">
            <netease-normal-cover
                [title]="'歌单title'"
                [size]="34"
                [navigateUrl]="'/user/demo'"
                [imageUrl]="'http://p1.music.126.net/fi2d8aD5QakQh7v_1rSaeg==/18780758116182294.jpg?param=60y60'">

            </netease-normal-cover>
            <div class="netease-playbar mask"></div>
        </div>
        <div class="play">
            <div class="words">
                <a class="name">阿婆说</a>
                <a class="author">陈一发儿</a>
            </div>
            <div class="p-bar">
                <div #bar class="bar-bg">
                    <div #cur class="cur">
                        <span #icon class="netease-icon netease-icon-alpha"></span>
                    </div>
                </div>
                <span class="time">
                    <em>{{currentTime | duration}}</em>
                    / {{duration | duration}}
                </span>
            </div>
        </div>
        <div class="oper">
            <a class="netease-playbar playbar-icn playbar-icn-add"></a>
            <a class="netease-playbar playbar-icn playbar-icn-share"></a>
        </div>
        <div class="ctrl">
            <div class="netease-playbar shade-left">

            </div>
            <a class="netease-playbar playbar-icn playbar-icn-volumn"></a>
            <a class="netease-playbar playbar-icn playbar-icn-shuffle"></a>
            <span class="list-detail">
                <a class="netease-playbar playbar-icn playbar-icn-list"></a>
            </span>
        </div>
    </div>
</div>

<audio #audioElement controls="controls">
    <source src="/src/assets/demo3.mp3" type="audio/mpeg">
    Your browser does not support the audio tag.
</audio>


