<div class="player-wrap netease-playbar bg">
    <div class="player-main">
        <div class="btns">
            <a class="netease-playbar playbar-prev" (click)="handlePrev()"></a>
            <a class="netease-playbar playbar-play" (click)="handlePlay()"></a>
            <a class="netease-playbar playbar-next" (click)="handleNext()"></a>
        </div>
        <div class="flag">
            <netease-normal-cover
                [title]="'歌单title'"
                [size]="34"
                [navigateUrl]="'/user/demo'"
                [imageUrl]="'http://p1.music.126.net/fi2d8aD5QakQh7v_1rSaeg==/18780758116182294.jpg?param=60y60'">

            </netease-normal-cover>
            <div class="netease-playbar mask"></div>
        </div>
        <div class="play">
            <div class="words">
                <a class="name">阿婆说</a>
                <a class="author">陈一发儿</a>
            </div>
            <div class="p-bar">
                <div class="bar-bg">
                    <div class="cur" style="width: 30%">
                        <span class="netease-icon netease-icon-alpha"></span>
                    </div>
                </div>
                <span class="time">
                    <em>00:00</em>
                    / 04:06
                </span>
            </div>
        </div>
        <div class="oper">
            <a class="netease-playbar playbar-icn playbar-icn-add"></a>
            <a class="netease-playbar playbar-icn playbar-icn-share"></a>
        </div>
        <div class="ctrl">
            <div class="netease-playbar shade-left">

            </div>
            <a class="netease-playbar playbar-icn playbar-icn-volumn"></a>
            <a class="netease-playbar playbar-icn playbar-icn-shuffle"></a>
            <span class="list-detail">
                <a class="netease-playbar playbar-icn playbar-icn-list"></a>
            </span>
        </div>
    </div>
</div>
