
<div class="user-wrap">
    <div class="user-proifo">
        <div class="cover-wrap">
            <netease-normal-cover
                [size]="180"
                [imageUrl]="'http://p1.music.126.net/VsmwPWd_TiZEM3iA2-KtaQ==/109951163188626150.jpg?param=180y180'">

            </netease-normal-cover>
        </div>
        <div class="main-wrap">
            <div class="name">
                <h2>日月星辰千红万紫</h2>
                <netease-normal-button style="float: right" [btnType]="5"></netease-normal-button>
            </div>
            <ul class="tab">
                <li><em>3</em>动态</li>
                <li><em>3</em>关注</li>
                <li><em>3</em>粉丝</li>
            </ul>
            <p class="info-ext">
                个人介绍：看山不是山 看水不是水
            </p>
            <p class="info-ext">
                所在地区：湖北省 - 荆门市
            </p>
            <p class="info-ext">
                年龄：90
            </p>
        </div>

    </div>
    <router-outlet></router-outlet>
</div>

