<div class="header-wrap">
    <div class="header-inner">
        <h1 class="logo">
            <a href="/#">网易云音乐</a>
        </h1>
        <a class="item">发现音乐</a>
        <a class="item">我的音乐</a>

        <div class="user">
            <a class="cover">
                <span class="no-login">登录</span>
                <!--<img src="http://p4.music.126.net/VsmwPWd_TiZEM3iA2-KtaQ==/109951163188626150.jpg?param=30y30" alt="">-->
            </a>
            <ul class="u-list">
                <li>
                    <a>
                        <i class="netease-top-icn home"></i>
                        <em>我的主页</em>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="netease-top-icn setting"></i>
                        <em>个人设置</em>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="netease-top-icn exit"></i>
                        <em>退出</em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
